.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu-hamburguer{
width: 24px;
height: 24px;
display: inline-block;
    }

    .menu-hamburguer-imagem{
        width: 24px;
        height: 24px;
        justify-content: space-between;
        align-items: center;
    }
.container{
    display: flex;
    align-items: center;
    
}
.container__imagem{
width: 24px;
height: 24px;
justify-content: space-between;
align-items: center;

}
.container__imagem, .container__titulo, .container__frase{
padding: 1em;
}

.container__titulo, .container__frase{
    display: none;
}

.lista-menu{
    display: none;
}
@media screen and (min-width: 820px){
    .container__titulo, .container__titulo--negrito{
        font-size: 30px;
    }
    .container__titulo{
        display: block;
        width: 30vw;
    }
}

@media screen and (min-width:1024px){
    .container__frase{
        display: block;
        font-size: 20px;
        padding-left: 5em;
        font-family: var(--fonte-secundaria);
        font-weight: 300;
    }

    .container__titulo{
        font-family: var(--fonte-principal);
        font-size: 30px;
        font-weight: 400;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
}